@font-face {
  font-display: swap;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/poppins-v24-latin-regular.woff2") format("woff2");
}
@font-face {
  font-display: swap;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  src: url("../fonts/poppins-v24-latin-600.woff2") format("woff2");
}
@font-face {
  font-display: swap;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/poppins-v24-latin-700.woff2") format("woff2");
}
* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
}

button {
  font-family: "Poppins", sans-serif;
}

.container {
  max-width: 1110px;
  margin: 0 auto;
  padding: 0 27px;
}

.site-header {
  padding: 19px 0;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 0px;
}

.header__right-content {
  display: flex;
  align-items: center;
  justify-content: start;
  gap: 24px;
}

.header__navbar {
  display: flex;
  align-items: center;
  justify-content: start;
  gap: 25px;
}

.header__link {
  display: inline-block;
  font-weight: 600;
  font-size: 16px;
  line-height: 28px;
  letter-spacing: 0px;
  color: #22343D;
  margin-bottom: 0px;
}
.header__link + .header__link {
  font-weight: 400;
  font-size: 16px;
  line-height: 28px;
  letter-spacing: 0px;
  color: #22343D;
  margin-bottom: 0px;
}

.header__btn {
  display: flex;
  align-items: center;
  justify-content: start;
  gap: 24px;
}

.header__signin-btn {
  font-weight: 700;
  font-size: 16px;
  line-height: 100%;
  letter-spacing: 0px;
  color: #FFFFFF;
  margin-bottom: 0px;
  padding: 10px 22px;
  border-radius: 4px;
  border: none;
  background-color: transparent;
  transition: all 0.3s;
  cursor: pointer;
  font-weight: 600;
  font-size: 16px;
  line-height: 100%;
  letter-spacing: 0px;
  color: #173A56;
  margin-bottom: 0px;
  border: 1px solid #BCD0E5;
}

.header__sign-up {
  font-weight: 700;
  font-size: 16px;
  line-height: 100%;
  letter-spacing: 0px;
  color: #FFFFFF;
  margin-bottom: 0px;
  padding: 10px 22px;
  border-radius: 4px;
  border: none;
  background-color: #02897A;
  transition: all 0.3s;
  cursor: pointer;
}

.header__menu-icon {
  display: none;
  background-color: transparent;
  border: none;
}

@media (max-width: 920px) {
  .header__navbar {
    display: none;
  }
  .header__menu-icon {
    display: block;
  }
}
@media (max-width: 790px) {
  .header__btn, .header__dark-link {
    display: none;
  }
}
.hero-section {
  padding: 25px 0;
}

.hero {
  display: flex;
  align-items: center;
  justify-content: start;
  gap: 0px;
}

.hero__content-wrapper {
  max-width: 420px;
}

.hero__title {
  font-weight: 700;
  font-size: 40px;
  line-height: 60px;
  letter-spacing: 0px;
  color: #22343D;
  margin-bottom: 18px;
}

.hero__text {
  font-weight: 400;
  font-size: 18px;
  line-height: 28px;
  letter-spacing: 0px;
  color: #22343D;
  margin-bottom: 45px;
}

.hero__btn-get {
  font-weight: 700;
  font-size: 16px;
  line-height: 100%;
  letter-spacing: 0px;
  color: #FFFFFF;
  margin-bottom: 0px;
  padding: 14px 41px;
  border-radius: 4px;
  border: none;
  background-color: #02897A;
  transition: all 0.3s;
  cursor: pointer;
}

.hero__btn-link {
  font-weight: 600;
  font-size: 16px;
  line-height: 100%;
  letter-spacing: 0px;
  color: #02897A;
  margin-bottom: 0px;
  margin-left: 31px;
  border: none;
  text-decoration: underline;
}

@media (max-width: 1030px) {
  .hero {
    display: flex;
    align-items: center;
    justify-content: start;
    gap: 30px;
    flex-direction: column-reverse;
  }
  .hero > img {
    width: 450px;
    height: 405px;
  }
  .hero__content-wrapper {
    max-width: 600px;
    width: 100%;
    text-align: center;
  }
}
@media (max-width: 798px) {
  .hero {
    display: flex;
    align-items: center;
    justify-content: start;
    gap: 10px;
  }
  .hero > img {
    width: 338px;
    height: 310px;
  }
  .hero__title {
    font-weight: 700;
    font-size: 36px;
    line-height: 60px;
    letter-spacing: 0px;
    color: #22343D;
    margin-bottom: 16px;
  }
  .hero__text {
    font-weight: 400;
    font-size: 18px;
    line-height: 28px;
    letter-spacing: 0px;
    color: #22343D;
    margin-bottom: 32px;
  }
}
.about-section {
  padding: 114px 0 90px;
  background-image: url("../images/image/about-bg.png");
  background-repeat: no-repeat;
  background-position: center bottom;
}

.about {
  display: flex;
  align-items: center;
  justify-content: start;
  gap: 60px;
  flex-direction: column;
}

.about__title-wrapper {
  width: 100%;
  margin: 0 auto;
  text-align: center;
  margin-bottom: 66px;
}

.about__title-wrapper > h3 {
  font-weight: 700;
  font-size: 32px;
  line-height: 100%;
  letter-spacing: 0px;
  color: #22343D;
  margin-bottom: 0px;
}

.about__list {
  display: flex;
  align-items: start;
  justify-content: start;
  gap: 46px;
}

.about__item {
  text-align: start;
  width: 240px;
}

.about__item > img {
  margin-bottom: 30px;
}

.about__item > h4 {
  font-weight: 600;
  font-size: 22px;
  line-height: 100%;
  letter-spacing: 0px;
  color: #22343D;
  margin-bottom: 13px;
}

.about__item > p {
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  letter-spacing: 0px;
  color: #22343D;
  margin-bottom: 0px;
}

.about__btn {
  font-weight: 700;
  font-size: 16px;
  line-height: 100%;
  letter-spacing: 0px;
  color: #FFFFFF;
  margin-bottom: 0px;
  padding: 14px 32px;
  border-radius: 4px;
  border: none;
  background-color: #02897A;
  transition: all 0.3s;
  cursor: pointer;
}

@media (max-width: 1263px) {
  .about__list {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 32px;
    flex-direction: column;
  }
  .about__item {
    text-align: center;
  }
  .about__item > img {
    margin-bottom: 24px;
  }
  .about__item > h4 {
    font-weight: 600;
    font-size: 22px;
    line-height: 100%;
    letter-spacing: 0px;
    color: #22343D;
    margin-bottom: 8px;
  }
  .about__item > p {
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    letter-spacing: 0px;
    color: #22343D;
    margin-bottom: 32px;
  }
}
.work-section {
  padding: 150px 0;
}

.work__left-content {
  display: flex;
  align-items: center;
  justify-content: start;
  gap: 84px;
}

.work__left-wrapper {
  width: 486px;
}

.work__content-text {
  font-weight: 600;
  font-size: 16px;
  line-height: 100%;
  letter-spacing: 0px;
  color: #22343D;
  margin-bottom: 12px;
}

.work__title {
  font-weight: 700;
  font-size: 32px;
  line-height: 100%;
  letter-spacing: 0px;
  color: #22343D;
  margin-bottom: 13px;
}

.work__text {
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  letter-spacing: 0px;
  color: #22343D;
  margin-bottom: 13px;
}

.work__right-content {
  margin: 150px 0;
  display: flex;
  align-items: center;
  justify-content: start;
  gap: 94px;
}

.work__right-wrapper {
  width: 486px;
}

.work__right-title {
  font-weight: 700;
  font-size: 32px;
  line-height: 100%;
  letter-spacing: 0px;
  color: #22343D;
  margin-bottom: 23px;
}

.work__text {
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  letter-spacing: 0px;
  color: #22343D;
  margin-bottom: 30px;
}

.work__right-item {
  display: flex;
  align-items: center;
  justify-content: start;
  gap: 30px;
}

.work__content-text-title {
  font-weight: 700;
  font-size: 32px;
  line-height: 100%;
  letter-spacing: 0px;
  color: #22343D;
  margin-bottom: 23px;
}

@media (max-width: 890px) {
  .work__left-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 0px;
    flex-direction: column-reverse;
  }
  .work__right-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 0px;
    flex-direction: column;
  }
  .work__right-wrapper {
    width: 100%;
  }
  .work__left-wrapper {
    width: 100%;
  }
  .work__img {
    width: 100%;
    margin-bottom: 100px;
  }
}
.process-section {
  padding: 52px 0 150px;
  background-image: url("../../images/image/process-bg.png");
  background-repeat: no-repeat;
  background-position: center top;
}

.process {
  padding: 0 115px;
}

.process__top-title {
  text-align: center;
  margin-bottom: 32px;
}

.process__title {
  font-weight: 700;
  font-size: 32px;
  line-height: 100%;
  letter-spacing: 0px;
  color: #22343D;
  margin-bottom: 16px;
}

.process__text {
  font-weight: 500;
  font-size: 16px;
  line-height: 26px;
  letter-spacing: 0px;
  color: #22343D;
  margin-bottom: 0px;
  width: 542px;
  margin: 0 auto;
}

.process__comment {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 0px;
  margin-bottom: 48px;
}

.process__item {
  display: flex;
  align-items: center;
  justify-content: start;
  gap: 16px;
}

.process__item-text {
  font-weight: 500;
  font-size: 16px;
  line-height: 100%;
  letter-spacing: 0px;
  color: #22343D;
  margin-bottom: 16px;
  padding: 15px 24px 20px;
  box-shadow: 0px 2px 15px 0px rgba(23, 58, 86, 0.1019607843);
  border-radius: 26px;
}

.process__button {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0px;
}

.process__btn {
  font-weight: 700;
  font-size: 16px;
  line-height: 100%;
  letter-spacing: 0px;
  color: #FFFFFF;
  margin-bottom: 0px;
  padding: 15px 31px;
  border-radius: 4px;
  border: none;
  background-color: #02897A;
  transition: all 0.3s;
  cursor: pointer;
}

@media (max-width: 996px) {
  .process-section {
    padding: 73px 0 100px;
  }
  .process {
    padding: 0;
  }
  .process__top-title {
    margin-bottom: 39px;
  }
  .process__title {
    width: 100%;
    font-weight: 700;
    font-size: 38px;
    line-height: 100%;
    letter-spacing: 0px;
    color: #22343D;
    margin-bottom: 16px;
  }
  .process__text {
    width: 100%;
    margin: 0 auto;
    font-weight: 500;
    font-size: 16px;
    line-height: 100%;
    letter-spacing: 0px;
    color: #22343D;
    margin-bottom: 0px;
  }
  .process__comment {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: start;
    gap: 32px;
    flex-direction: column;
  }
  .process__list-left {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 32px;
    flex-direction: column;
  }
  .process__list-right {
    display: flex;
    align-items: center;
    justify-content: start;
    gap: 32px;
    flex-direction: column-reverse;
  }
  .process__item-text {
    width: 100%;
  }
}/*# sourceMappingURL=main.css.map */