* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
}

body {
    font-family: "Poppins", sans-serif;
    background-color: $clr-hero;
}
button {
    font-family: "Poppins", sans-serif;
}

.container {
    max-width: 1099px;
    margin: 0 auto;
    padding: 0 27px;
}