@mixin Display($items, $justify, $gap){
    display: flex;
    align-items: $items;
    justify-content: $justify;
    gap: $gap;
}

@mixin TetxStyle($FW, $FS, $LH, $LS, $CLR, $MB) {
    font-weight: $FW;
    font-size: $FS;
    line-height: $LH;
    letter-spacing: $LS;
    color: $CLR;
    margin-bottom: $MB;
}

@mixin BtnStyle($P, $BC) {
    @include TetxStyle($FW:700, $FS:16px, $LH:100%, $LS:0px, $CLR: $clr-white, $MB: 0px);
    padding: $P;
    border-radius: 4px;
    border: none;
    background-color: $BC;
    transition: all 0.3s;
    cursor: pointer;
}
